html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #e5e5f7;
    background-image: radial-gradient(#388c7c 0.5px, #e5e5f7 0.5px);
    background-size: 10px 10px;
}
body{
}

.container{
    background: rgb(129,126,159);
    background: -moz-linear-gradient(0deg, rgba(129,126,159,1) 0%, rgba(129,126,159,0) 100%);
    background: -webkit-linear-gradient(0deg, rgba(129,126,159,1) 0%, rgba(129,126,159,0) 100%);
    background: linear-gradient(0deg, rgba(129,126,159,1) 0%, rgba(129,126,159,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#817e9f",endColorstr="#817e9f",GradientType=1);
}
.page{
    background-color: #fff;
    width: 80%;
    margin: 0px auto;
    padding: 0px;
    background: rgba(255, 255, 255, 1);
}
.billbord{
    text-align:center;
}
.billbord img {
    text-align: center;
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
}
.page .content{
    padding: 0.8em;
}
.button {
    visibility: inherit;
    margin: 0.4em 0.2em;
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
}
.button.active,
.button.active:hover {
    background-color: #703182;
}
.button.disabled,
.button.disabled:hover{
    background-color: #817E9F;
}

.button:hover {
    background-color: #B5EF8A;
}

.button:active {
    background-color: #4CAF50;
}
.answerCardGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 6px 6px;
    grid-template-areas:
    ". . ."
    ". . .";
}
.answerCardGrid div{
    border:1px solid lightgray;
}
.answer{
    background-color: #e0e0e0;


}
.answer:hover{
    cursor: pointer;
    background-color: gray;
}
.invisible{
    visibility: hidden;
}

.answer.wrong{
    display: none;
}